
h1{
	text-align: center;
	border: 10px;
	border-color: #99ff99;
	border-style: groove;
	padding: 20px;
	margin: 20px;
	background-color: #ccffcc;
}

h2{
	border: 10px;
	border-color: #99ff99;
	border-style: groove;
	padding: 20px;
	margin: 20px;
	background-color: #ccffcc;
	width: 300px;
	text-align: center;	
}




.photo{
	background-color: #ffcc99;
	width: 35%;
	border: 10px;
	border-color: #ff9966;
	border-style: groove;
	padding: 30px;
	margin: 20px;
	float: right;
}


.info{
	color: #cc0066;
	font-size: 25px;
	border-style: groove;
	border-color: #cc99ff;
	background-color: plum;
	width: 540px;
	line-height: 1.5;
}


div{
	background-color: #ffcc99;
	width: 300px;
	border: 10px;
	border-color: #ff9966;
	border-style: groove;
	padding: 30px;
	margin: 20px;
	float: right;
}

.container {
	display: flex;
	align-items: center;
}

.container img {
	width: 300px;
	height: auto;
	margin-right: 10px;
}

.container p{
	margin: 0;
}










